-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: inventario_v2
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `adjuntos`
--

DROP TABLE IF EXISTS `adjuntos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `adjuntos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `adjuntable_type` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `adjuntable_id` bigint unsigned NOT NULL,
  `tipo_documento` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nombre_original` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nombre_archivo` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ruta` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `mime_type` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tamano_bytes` bigint unsigned DEFAULT NULL,
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `subido_por` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `adjuntos_subido_por_foreign` (`subido_por`),
  KEY `adjuntos_adjuntable_index` (`adjuntable_type`,`adjuntable_id`),
  CONSTRAINT `adjuntos_subido_por_foreign` FOREIGN KEY (`subido_por`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `adjuntos`
--

LOCK TABLES `adjuntos` WRITE;
/*!40000 ALTER TABLE `adjuntos` DISABLE KEYS */;
/*!40000 ALTER TABLE `adjuntos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ajustes_valorizacion`
--

DROP TABLE IF EXISTS `ajustes_valorizacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ajustes_valorizacion` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `unidad_bien_id` bigint unsigned DEFAULT NULL,
  `lote_id` bigint unsigned DEFAULT NULL,
  `tipo_ajuste` enum('valor_adquisicion','valor_residual','vida_util','depreciacion_acumulada','valor_en_libros','revaluacion','deterioro','correccion') COLLATE utf8mb4_unicode_ci NOT NULL,
  `valor_anterior` decimal(14,2) DEFAULT NULL,
  `valor_nuevo` decimal(14,2) DEFAULT NULL,
  `vida_util_anterior_meses` int unsigned DEFAULT NULL,
  `vida_util_nueva_meses` int unsigned DEFAULT NULL,
  `moneda` varchar(3) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PEN',
  `motivo` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `documento_sustento` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_ajuste` datetime NOT NULL,
  `usuario_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ajustes_valorizacion_unidad_bien_id_foreign` (`unidad_bien_id`),
  KEY `ajustes_valorizacion_lote_id_foreign` (`lote_id`),
  KEY `ajustes_valorizacion_usuario_id_foreign` (`usuario_id`),
  KEY `ajustes_valorizacion_tipo_ajuste_index` (`tipo_ajuste`),
  KEY `ajustes_valorizacion_fecha_ajuste_index` (`fecha_ajuste`),
  CONSTRAINT `ajustes_valorizacion_lote_id_foreign` FOREIGN KEY (`lote_id`) REFERENCES `lotes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `ajustes_valorizacion_unidad_bien_id_foreign` FOREIGN KEY (`unidad_bien_id`) REFERENCES `unidades_bien` (`id`) ON DELETE SET NULL,
  CONSTRAINT `ajustes_valorizacion_usuario_id_foreign` FOREIGN KEY (`usuario_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ajustes_valorizacion`
--

LOCK TABLES `ajustes_valorizacion` WRITE;
/*!40000 ALTER TABLE `ajustes_valorizacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `ajustes_valorizacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `areas`
--

DROP TABLE IF EXISTS `areas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `areas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `areas_nombre_unique` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `areas`
--

LOCK TABLES `areas` WRITE;
/*!40000 ALTER TABLE `areas` DISABLE KEYS */;
INSERT INTO `areas` VALUES (1,'Comunicaciones',NULL,1,'2026-07-24 11:20:58','2026-07-24 11:20:58'),(2,'Ingenier├¡a',NULL,1,'2026-07-24 11:20:58','2026-07-24 11:20:58'),(3,'Intendencia',NULL,1,'2026-07-24 11:20:58','2026-07-24 11:20:58'),(4,'Sanidad',NULL,1,'2026-07-24 11:20:58','2026-07-24 11:20:58'),(5,'Biblioteca',NULL,1,'2026-07-24 11:20:58','2026-07-24 11:20:58'),(6,'Laboratorio',NULL,1,'2026-07-24 11:20:58','2026-07-24 11:20:58'),(7,'M├║sica',NULL,1,'2026-07-24 11:20:58','2026-07-24 11:20:58'),(8,'Soporte t├®cnico',NULL,1,'2026-07-24 11:20:58','2026-07-24 11:20:58');
/*!40000 ALTER TABLE `areas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auditorias`
--

DROP TABLE IF EXISTS `auditorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auditorias` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `usuario_id` bigint unsigned DEFAULT NULL,
  `accion` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `modulo` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `auditable_type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `auditable_id` bigint unsigned DEFAULT NULL,
  `valores_anteriores` json DEFAULT NULL,
  `valores_nuevos` json DEFAULT NULL,
  `motivo` text COLLATE utf8mb4_unicode_ci,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  `fecha_accion` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `auditorias_usuario_id_foreign` (`usuario_id`),
  KEY `auditorias_accion_index` (`accion`),
  KEY `auditorias_modulo_index` (`modulo`),
  KEY `auditorias_fecha_accion_index` (`fecha_accion`),
  KEY `auditorias_auditable_index` (`auditable_type`,`auditable_id`),
  CONSTRAINT `auditorias_usuario_id_foreign` FOREIGN KEY (`usuario_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auditorias`
--

LOCK TABLES `auditorias` WRITE;
/*!40000 ALTER TABLE `auditorias` DISABLE KEYS */;
/*!40000 ALTER TABLE `auditorias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bajas`
--

DROP TABLE IF EXISTS `bajas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bajas` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `codigo` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `unidad_bien_id` bigint unsigned DEFAULT NULL,
  `lote_id` bigint unsigned DEFAULT NULL,
  `cantidad` decimal(12,2) DEFAULT NULL,
  `motivo` enum('inservible','perdida','robo','donacion','transferencia','obsolescencia','descarte','otro') COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha_baja` datetime NOT NULL,
  `valor_al_momento_baja` decimal(14,2) DEFAULT NULL,
  `moneda` varchar(3) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PEN',
  `documento_sustento` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `destino_final` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `registrado_por` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `bajas_codigo_unique` (`codigo`),
  KEY `bajas_unidad_bien_id_foreign` (`unidad_bien_id`),
  KEY `bajas_lote_id_foreign` (`lote_id`),
  KEY `bajas_registrado_por_foreign` (`registrado_por`),
  KEY `bajas_motivo_index` (`motivo`),
  KEY `bajas_fecha_baja_index` (`fecha_baja`),
  CONSTRAINT `bajas_lote_id_foreign` FOREIGN KEY (`lote_id`) REFERENCES `lotes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `bajas_registrado_por_foreign` FOREIGN KEY (`registrado_por`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `bajas_unidad_bien_id_foreign` FOREIGN KEY (`unidad_bien_id`) REFERENCES `unidades_bien` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bajas`
--

LOCK TABLES `bajas` WRITE;
/*!40000 ALTER TABLE `bajas` DISABLE KEYS */;
/*!40000 ALTER TABLE `bajas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bienes`
--

DROP TABLE IF EXISTS `bienes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bienes` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `categoria_id` bigint unsigned DEFAULT NULL,
  `tipo_control` enum('individual','lote','consumible') COLLATE utf8mb4_unicode_ci NOT NULL,
  `marca` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `modelo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `material` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nivel_educativo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ciclo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `procedencia` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fuente_financiamiento_id` bigint unsigned DEFAULT NULL,
  `es_depreciable` tinyint(1) NOT NULL DEFAULT '0',
  `vida_util_meses` int unsigned DEFAULT NULL,
  `valor_residual_porcentaje` decimal(5,2) NOT NULL DEFAULT '0.00',
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bienes_categoria_id_foreign` (`categoria_id`),
  KEY `bienes_fuente_financiamiento_id_foreign` (`fuente_financiamiento_id`),
  KEY `bienes_nombre_index` (`nombre`),
  KEY `bienes_tipo_control_index` (`tipo_control`),
  KEY `bienes_marca_index` (`marca`),
  KEY `bienes_modelo_index` (`modelo`),
  CONSTRAINT `bienes_categoria_id_foreign` FOREIGN KEY (`categoria_id`) REFERENCES `categorias` (`id`) ON DELETE SET NULL,
  CONSTRAINT `bienes_fuente_financiamiento_id_foreign` FOREIGN KEY (`fuente_financiamiento_id`) REFERENCES `fuentes_financiamiento` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bienes`
--

LOCK TABLES `bienes` WRITE;
/*!40000 ALTER TABLE `bienes` DISABLE KEYS */;
/*!40000 ALTER TABLE `bienes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` mediumtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` bigint NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` bigint NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias`
--

DROP TABLE IF EXISTS `categorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categorias` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `es_depreciable` tinyint(1) NOT NULL DEFAULT '1',
  `vida_util_meses` int unsigned DEFAULT NULL,
  `valor_residual_porcentaje` decimal(5,2) NOT NULL DEFAULT '0.00',
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `categorias_nombre_unique` (`nombre`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias`
--

LOCK TABLES `categorias` WRITE;
/*!40000 ALTER TABLE `categorias` DISABLE KEYS */;
/*!40000 ALTER TABLE `categorias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estados_conservacion`
--

DROP TABLE IF EXISTS `estados_conservacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `estados_conservacion` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `orden` tinyint unsigned NOT NULL DEFAULT '0',
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `estados_conservacion_nombre_unique` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estados_conservacion`
--

LOCK TABLES `estados_conservacion` WRITE;
/*!40000 ALTER TABLE `estados_conservacion` DISABLE KEYS */;
INSERT INTO `estados_conservacion` VALUES (1,'Bueno','El bien se encuentra en buenas condiciones f├¡sicas.',1,1,'2026-07-24 11:20:58','2026-07-24 11:20:58'),(2,'Regular','El bien presenta desgaste, pero todav├¡a puede utilizarse.',2,1,'2026-07-24 11:20:58','2026-07-24 11:20:58'),(3,'Malo','El bien presenta da├▒os importantes.',3,1,'2026-07-24 11:20:58','2026-07-24 11:20:58'),(4,'Inservible','El bien ya no puede utilizarse.',4,1,'2026-07-24 11:20:58','2026-07-24 11:20:58'),(5,'No determinado','El estado f├¡sico todav├¡a no ha sido verificado.',5,1,'2026-07-24 11:20:58','2026-07-24 11:20:58');
/*!40000 ALTER TABLE `estados_conservacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estados_operatividad`
--

DROP TABLE IF EXISTS `estados_operatividad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `estados_operatividad` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `orden` tinyint unsigned NOT NULL DEFAULT '0',
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `estados_operatividad_nombre_unique` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estados_operatividad`
--

LOCK TABLES `estados_operatividad` WRITE;
/*!40000 ALTER TABLE `estados_operatividad` DISABLE KEYS */;
/*!40000 ALTER TABLE `estados_operatividad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`),
  KEY `failed_jobs_connection_queue_failed_at_index` (`connection`,`queue`,`failed_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fuentes_financiamiento`
--

DROP TABLE IF EXISTS `fuentes_financiamiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fuentes_financiamiento` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `fuentes_financiamiento_nombre_unique` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fuentes_financiamiento`
--

LOCK TABLES `fuentes_financiamiento` WRITE;
/*!40000 ALTER TABLE `fuentes_financiamiento` DISABLE KEYS */;
INSERT INTO `fuentes_financiamiento` VALUES (1,'Recursos ordinarios',NULL,1,'2026-07-24 11:20:58','2026-07-24 11:20:58'),(2,'Donaci├│n',NULL,1,'2026-07-24 11:20:58','2026-07-24 11:20:58'),(3,'Transferencia MINEDU',NULL,1,'2026-07-24 11:20:58','2026-07-24 11:20:58'),(4,'Recursos propios',NULL,1,'2026-07-24 11:20:58','2026-07-24 11:20:58'),(5,'No determinada',NULL,1,'2026-07-24 11:20:58','2026-07-24 11:20:58');
/*!40000 ALTER TABLE `fuentes_financiamiento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_jobs` int NOT NULL,
  `pending_jobs` int NOT NULL,
  `failed_jobs` int NOT NULL,
  `failed_job_ids` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `options` mediumtext COLLATE utf8mb4_unicode_ci,
  `cancelled_at` int DEFAULT NULL,
  `created_at` int NOT NULL,
  `finished_at` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `attempts` smallint unsigned NOT NULL,
  `reserved_at` int unsigned DEFAULT NULL,
  `available_at` int unsigned NOT NULL,
  `created_at` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lotes`
--

DROP TABLE IF EXISTS `lotes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lotes` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `bien_id` bigint unsigned NOT NULL,
  `codigo_interno` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cantidad_inicial` decimal(12,2) NOT NULL,
  `cantidad_actual` decimal(12,2) NOT NULL,
  `unidad_medida` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'unidad',
  `area_id` bigint unsigned DEFAULT NULL,
  `ubicacion_id` bigint unsigned DEFAULT NULL,
  `estado_conservacion_id` bigint unsigned NOT NULL,
  `estado_operatividad_id` bigint unsigned DEFAULT NULL,
  `situacion` enum('disponible','asignado','prestado','en_mantenimiento','no_encontrado','en_proceso_de_baja','dado_de_baja') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'disponible',
  `estado_registro` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'activo',
  `fusionado_en_id` bigint unsigned DEFAULT NULL,
  `fecha_fusion` timestamp NULL DEFAULT NULL,
  `responsable_nombre` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `responsable_dni` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `responsable_cargo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `responsable_area` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `responsable_telefono` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_adquisicion` date DEFAULT NULL,
  `fecha_ingreso` date DEFAULT NULL,
  `fecha_puesta_en_uso` date DEFAULT NULL,
  `anio_ingreso` smallint unsigned DEFAULT NULL,
  `vida_util_meses` int unsigned DEFAULT NULL,
  `valor_unitario` decimal(14,2) DEFAULT NULL,
  `valor_total` decimal(14,2) DEFAULT NULL,
  `valor_residual` decimal(14,2) NOT NULL DEFAULT '0.00',
  `depreciacion_acumulada` decimal(14,2) NOT NULL DEFAULT '0.00',
  `valor_en_libros` decimal(14,2) DEFAULT NULL,
  `valor_ajustado` decimal(14,2) DEFAULT NULL,
  `moneda` varchar(3) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PEN',
  `proveedor` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo_comprobante` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `numero_comprobante` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado_origen` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ubicacion_origen` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `archivo_origen` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `hoja_origen` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fila_origen` int unsigned DEFAULT NULL,
  `foto_principal` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `creado_por` bigint unsigned DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `lotes_codigo_interno_unique` (`codigo_interno`),
  KEY `lotes_ubicacion_id_foreign` (`ubicacion_id`),
  KEY `lotes_estado_conservacion_id_foreign` (`estado_conservacion_id`),
  KEY `lotes_estado_operatividad_id_foreign` (`estado_operatividad_id`),
  KEY `lotes_creado_por_foreign` (`creado_por`),
  KEY `lotes_situacion_index` (`situacion`),
  KEY `lotes_fecha_ingreso_index` (`fecha_ingreso`),
  KEY `lotes_area_id_ubicacion_id_index` (`area_id`,`ubicacion_id`),
  KEY `lotes_bien_id_foreign` (`bien_id`),
  KEY `lotes_responsable_dni_index` (`responsable_dni`),
  KEY `lotes_fusionado_en_id_foreign` (`fusionado_en_id`),
  CONSTRAINT `lotes_area_id_foreign` FOREIGN KEY (`area_id`) REFERENCES `areas` (`id`) ON DELETE SET NULL,
  CONSTRAINT `lotes_bien_id_foreign` FOREIGN KEY (`bien_id`) REFERENCES `bienes` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `lotes_creado_por_foreign` FOREIGN KEY (`creado_por`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `lotes_estado_conservacion_id_foreign` FOREIGN KEY (`estado_conservacion_id`) REFERENCES `estados_conservacion` (`id`),
  CONSTRAINT `lotes_estado_operatividad_id_foreign` FOREIGN KEY (`estado_operatividad_id`) REFERENCES `estados_operatividad` (`id`) ON DELETE SET NULL,
  CONSTRAINT `lotes_fusionado_en_id_foreign` FOREIGN KEY (`fusionado_en_id`) REFERENCES `lotes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `lotes_ubicacion_id_foreign` FOREIGN KEY (`ubicacion_id`) REFERENCES `ubicaciones` (`id`) ON DELETE SET NULL,
  CONSTRAINT `chk_lotes_cantidades` CHECK (((`cantidad_inicial` >= 0) and (`cantidad_actual` >= 0)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lotes`
--

LOCK TABLES `lotes` WRITE;
/*!40000 ALTER TABLE `lotes` DISABLE KEYS */;
/*!40000 ALTER TABLE `lotes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mantenimientos`
--

DROP TABLE IF EXISTS `mantenimientos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mantenimientos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `codigo` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `unidad_bien_id` bigint unsigned DEFAULT NULL,
  `lote_id` bigint unsigned DEFAULT NULL,
  `tipo` enum('preventivo','correctivo') COLLATE utf8mb4_unicode_ci NOT NULL,
  `falla_reportada` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `diagnostico` text COLLATE utf8mb4_unicode_ci,
  `tecnico_proveedor` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_ingreso` datetime NOT NULL,
  `fecha_retorno_estimada` datetime DEFAULT NULL,
  `fecha_salida` datetime DEFAULT NULL,
  `costo` decimal(14,2) DEFAULT NULL,
  `moneda` varchar(3) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PEN',
  `estado_conservacion_anterior_id` bigint unsigned DEFAULT NULL,
  `estado_conservacion_final_id` bigint unsigned DEFAULT NULL,
  `estado_operatividad_anterior_id` bigint unsigned DEFAULT NULL,
  `estado_operatividad_final_id` bigint unsigned DEFAULT NULL,
  `estado` enum('pendiente','en_proceso','finalizado','cancelado') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'pendiente',
  `resultado` text COLLATE utf8mb4_unicode_ci,
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `registrado_por` bigint unsigned DEFAULT NULL,
  `finalizado_por` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `mantenimientos_codigo_unique` (`codigo`),
  KEY `mantenimientos_unidad_bien_id_foreign` (`unidad_bien_id`),
  KEY `mantenimientos_lote_id_foreign` (`lote_id`),
  KEY `mantenimientos_estado_conservacion_anterior_id_foreign` (`estado_conservacion_anterior_id`),
  KEY `mantenimientos_estado_conservacion_final_id_foreign` (`estado_conservacion_final_id`),
  KEY `mantenimientos_estado_operatividad_anterior_id_foreign` (`estado_operatividad_anterior_id`),
  KEY `mantenimientos_estado_operatividad_final_id_foreign` (`estado_operatividad_final_id`),
  KEY `mantenimientos_registrado_por_foreign` (`registrado_por`),
  KEY `mantenimientos_finalizado_por_foreign` (`finalizado_por`),
  KEY `mantenimientos_estado_index` (`estado`),
  KEY `mantenimientos_fecha_ingreso_index` (`fecha_ingreso`),
  KEY `mantenimientos_fecha_retorno_estimada_index` (`fecha_retorno_estimada`),
  CONSTRAINT `mantenimientos_estado_conservacion_anterior_id_foreign` FOREIGN KEY (`estado_conservacion_anterior_id`) REFERENCES `estados_conservacion` (`id`) ON DELETE SET NULL,
  CONSTRAINT `mantenimientos_estado_conservacion_final_id_foreign` FOREIGN KEY (`estado_conservacion_final_id`) REFERENCES `estados_conservacion` (`id`) ON DELETE SET NULL,
  CONSTRAINT `mantenimientos_estado_operatividad_anterior_id_foreign` FOREIGN KEY (`estado_operatividad_anterior_id`) REFERENCES `estados_operatividad` (`id`) ON DELETE SET NULL,
  CONSTRAINT `mantenimientos_estado_operatividad_final_id_foreign` FOREIGN KEY (`estado_operatividad_final_id`) REFERENCES `estados_operatividad` (`id`) ON DELETE SET NULL,
  CONSTRAINT `mantenimientos_finalizado_por_foreign` FOREIGN KEY (`finalizado_por`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `mantenimientos_lote_id_foreign` FOREIGN KEY (`lote_id`) REFERENCES `lotes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `mantenimientos_registrado_por_foreign` FOREIGN KEY (`registrado_por`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `mantenimientos_unidad_bien_id_foreign` FOREIGN KEY (`unidad_bien_id`) REFERENCES `unidades_bien` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mantenimientos`
--

LOCK TABLES `mantenimientos` WRITE;
/*!40000 ALTER TABLE `mantenimientos` DISABLE KEYS */;
/*!40000 ALTER TABLE `mantenimientos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `movimientos`
--

DROP TABLE IF EXISTS `movimientos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `movimientos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `unidad_bien_id` bigint unsigned DEFAULT NULL,
  `lote_id` bigint unsigned DEFAULT NULL,
  `tipo` enum('registro_inicial','asignacion','cambio_ubicacion','cambio_area','cambio_responsable','prestamo','devolucion','entrada_mantenimiento','salida_mantenimiento','cambio_estado','ajuste_cantidad','baja','correccion') COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha_movimiento` datetime NOT NULL,
  `cantidad` decimal(12,2) DEFAULT NULL,
  `area_anterior_id` bigint unsigned DEFAULT NULL,
  `area_nueva_id` bigint unsigned DEFAULT NULL,
  `ubicacion_anterior_id` bigint unsigned DEFAULT NULL,
  `ubicacion_nueva_id` bigint unsigned DEFAULT NULL,
  `estado_conservacion_anterior_id` bigint unsigned DEFAULT NULL,
  `estado_conservacion_nuevo_id` bigint unsigned DEFAULT NULL,
  `estado_operatividad_anterior_id` bigint unsigned DEFAULT NULL,
  `estado_operatividad_nuevo_id` bigint unsigned DEFAULT NULL,
  `situacion_anterior` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `situacion_nueva` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `responsable_anterior_nombre` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `responsable_anterior_dni` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `responsable_nuevo_nombre` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `responsable_nuevo_dni` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observacion` text COLLATE utf8mb4_unicode_ci,
  `documento_referencia` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `usuario_id` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `movimientos_area_anterior_id_foreign` (`area_anterior_id`),
  KEY `movimientos_area_nueva_id_foreign` (`area_nueva_id`),
  KEY `movimientos_ubicacion_anterior_id_foreign` (`ubicacion_anterior_id`),
  KEY `movimientos_ubicacion_nueva_id_foreign` (`ubicacion_nueva_id`),
  KEY `movimientos_estado_conservacion_anterior_id_foreign` (`estado_conservacion_anterior_id`),
  KEY `movimientos_estado_conservacion_nuevo_id_foreign` (`estado_conservacion_nuevo_id`),
  KEY `movimientos_estado_operatividad_anterior_id_foreign` (`estado_operatividad_anterior_id`),
  KEY `movimientos_estado_operatividad_nuevo_id_foreign` (`estado_operatividad_nuevo_id`),
  KEY `movimientos_usuario_id_foreign` (`usuario_id`),
  KEY `movimientos_tipo_index` (`tipo`),
  KEY `movimientos_fecha_movimiento_index` (`fecha_movimiento`),
  KEY `movimientos_unidad_bien_id_fecha_movimiento_index` (`unidad_bien_id`,`fecha_movimiento`),
  KEY `movimientos_lote_id_fecha_movimiento_index` (`lote_id`,`fecha_movimiento`),
  CONSTRAINT `movimientos_area_anterior_id_foreign` FOREIGN KEY (`area_anterior_id`) REFERENCES `areas` (`id`) ON DELETE SET NULL,
  CONSTRAINT `movimientos_area_nueva_id_foreign` FOREIGN KEY (`area_nueva_id`) REFERENCES `areas` (`id`) ON DELETE SET NULL,
  CONSTRAINT `movimientos_estado_conservacion_anterior_id_foreign` FOREIGN KEY (`estado_conservacion_anterior_id`) REFERENCES `estados_conservacion` (`id`) ON DELETE SET NULL,
  CONSTRAINT `movimientos_estado_conservacion_nuevo_id_foreign` FOREIGN KEY (`estado_conservacion_nuevo_id`) REFERENCES `estados_conservacion` (`id`) ON DELETE SET NULL,
  CONSTRAINT `movimientos_estado_operatividad_anterior_id_foreign` FOREIGN KEY (`estado_operatividad_anterior_id`) REFERENCES `estados_operatividad` (`id`) ON DELETE SET NULL,
  CONSTRAINT `movimientos_estado_operatividad_nuevo_id_foreign` FOREIGN KEY (`estado_operatividad_nuevo_id`) REFERENCES `estados_operatividad` (`id`) ON DELETE SET NULL,
  CONSTRAINT `movimientos_lote_id_foreign` FOREIGN KEY (`lote_id`) REFERENCES `lotes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `movimientos_ubicacion_anterior_id_foreign` FOREIGN KEY (`ubicacion_anterior_id`) REFERENCES `ubicaciones` (`id`) ON DELETE SET NULL,
  CONSTRAINT `movimientos_ubicacion_nueva_id_foreign` FOREIGN KEY (`ubicacion_nueva_id`) REFERENCES `ubicaciones` (`id`) ON DELETE SET NULL,
  CONSTRAINT `movimientos_unidad_bien_id_foreign` FOREIGN KEY (`unidad_bien_id`) REFERENCES `unidades_bien` (`id`) ON DELETE SET NULL,
  CONSTRAINT `movimientos_usuario_id_foreign` FOREIGN KEY (`usuario_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=174 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `movimientos`
--

LOCK TABLES `movimientos` WRITE;
/*!40000 ALTER TABLE `movimientos` DISABLE KEYS */;
/*!40000 ALTER TABLE `movimientos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prestamos`
--

DROP TABLE IF EXISTS `prestamos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prestamos` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `codigo` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `unidad_bien_id` bigint unsigned DEFAULT NULL,
  `lote_id` bigint unsigned DEFAULT NULL,
  `cantidad` decimal(12,2) DEFAULT NULL,
  `receptor_nombre` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `receptor_dni` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `receptor_cargo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `receptor_area` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `receptor_telefono` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_prestamo` datetime NOT NULL,
  `fecha_devolucion_prevista` datetime DEFAULT NULL,
  `fecha_devolucion_real` datetime DEFAULT NULL,
  `estado_conservacion_salida_id` bigint unsigned DEFAULT NULL,
  `estado_conservacion_devolucion_id` bigint unsigned DEFAULT NULL,
  `estado` enum('activo','devuelto','vencido','cancelado') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'activo',
  `observaciones_salida` text COLLATE utf8mb4_unicode_ci,
  `observaciones_devolucion` text COLLATE utf8mb4_unicode_ci,
  `registrado_por` bigint unsigned DEFAULT NULL,
  `devuelto_por` bigint unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `prestamos_codigo_unique` (`codigo`),
  KEY `prestamos_unidad_bien_id_foreign` (`unidad_bien_id`),
  KEY `prestamos_lote_id_foreign` (`lote_id`),
  KEY `prestamos_estado_conservacion_salida_id_foreign` (`estado_conservacion_salida_id`),
  KEY `prestamos_estado_conservacion_devolucion_id_foreign` (`estado_conservacion_devolucion_id`),
  KEY `prestamos_registrado_por_foreign` (`registrado_por`),
  KEY `prestamos_devuelto_por_foreign` (`devuelto_por`),
  KEY `prestamos_estado_index` (`estado`),
  KEY `prestamos_fecha_prestamo_index` (`fecha_prestamo`),
  KEY `prestamos_fecha_devolucion_prevista_index` (`fecha_devolucion_prevista`),
  CONSTRAINT `prestamos_devuelto_por_foreign` FOREIGN KEY (`devuelto_por`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `prestamos_estado_conservacion_devolucion_id_foreign` FOREIGN KEY (`estado_conservacion_devolucion_id`) REFERENCES `estados_conservacion` (`id`) ON DELETE SET NULL,
  CONSTRAINT `prestamos_estado_conservacion_salida_id_foreign` FOREIGN KEY (`estado_conservacion_salida_id`) REFERENCES `estados_conservacion` (`id`) ON DELETE SET NULL,
  CONSTRAINT `prestamos_lote_id_foreign` FOREIGN KEY (`lote_id`) REFERENCES `lotes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `prestamos_registrado_por_foreign` FOREIGN KEY (`registrado_por`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `prestamos_unidad_bien_id_foreign` FOREIGN KEY (`unidad_bien_id`) REFERENCES `unidades_bien` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prestamos`
--

LOCK TABLES `prestamos` WRITE;
/*!40000 ALTER TABLE `prestamos` DISABLE KEYS */;
/*!40000 ALTER TABLE `prestamos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `ip_address` varchar(45) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text COLLATE utf8mb4_unicode_ci,
  `payload` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_activity` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ubicaciones`
--

DROP TABLE IF EXISTS `ubicaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ubicaciones` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `codigo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `descripcion` text COLLATE utf8mb4_unicode_ci,
  `area_id` bigint unsigned DEFAULT NULL,
  `activo` tinyint(1) NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ubicaciones_nombre_area_id_unique` (`nombre`,`area_id`),
  UNIQUE KEY `ubicaciones_codigo_unique` (`codigo`),
  KEY `ubicaciones_area_id_foreign` (`area_id`),
  CONSTRAINT `ubicaciones_area_id_foreign` FOREIGN KEY (`area_id`) REFERENCES `areas` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ubicaciones`
--

LOCK TABLES `ubicaciones` WRITE;
/*!40000 ALTER TABLE `ubicaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `ubicaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `unidades_bien`
--

DROP TABLE IF EXISTS `unidades_bien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `unidades_bien` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `bien_id` bigint unsigned NOT NULL,
  `codigo_interno` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `codigo_patrimonial` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `numero_serie` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `area_id` bigint unsigned DEFAULT NULL,
  `ubicacion_id` bigint unsigned DEFAULT NULL,
  `estado_conservacion_id` bigint unsigned NOT NULL,
  `estado_operatividad_id` bigint unsigned DEFAULT NULL,
  `situacion` enum('disponible','asignado','prestado','en_mantenimiento','no_encontrado','en_proceso_de_baja','dado_de_baja') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'disponible',
  `responsable_nombre` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `responsable_dni` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `responsable_cargo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `responsable_area` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `responsable_telefono` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_adquisicion` date DEFAULT NULL,
  `fecha_ingreso` date DEFAULT NULL,
  `fecha_puesta_en_uso` date DEFAULT NULL,
  `anio_ingreso` smallint unsigned DEFAULT NULL,
  `vida_util_meses` int unsigned DEFAULT NULL,
  `valor_adquisicion` decimal(14,2) DEFAULT NULL,
  `valor_residual` decimal(14,2) NOT NULL DEFAULT '0.00',
  `depreciacion_acumulada` decimal(14,2) NOT NULL DEFAULT '0.00',
  `valor_en_libros` decimal(14,2) DEFAULT NULL,
  `valor_ajustado` decimal(14,2) DEFAULT NULL,
  `moneda` varchar(3) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'PEN',
  `proveedor` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo_comprobante` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `numero_comprobante` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `estado_origen` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ubicacion_origen` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `archivo_origen` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `hoja_origen` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fila_origen` int unsigned DEFAULT NULL,
  `foto_principal` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observaciones` text COLLATE utf8mb4_unicode_ci,
  `creado_por` bigint unsigned DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unidades_bien_codigo_interno_unique` (`codigo_interno`),
  UNIQUE KEY `unidades_bien_codigo_patrimonial_unique` (`codigo_patrimonial`),
  KEY `unidades_bien_ubicacion_id_foreign` (`ubicacion_id`),
  KEY `unidades_bien_estado_conservacion_id_foreign` (`estado_conservacion_id`),
  KEY `unidades_bien_estado_operatividad_id_foreign` (`estado_operatividad_id`),
  KEY `unidades_bien_creado_por_foreign` (`creado_por`),
  KEY `unidades_bien_situacion_index` (`situacion`),
  KEY `unidades_bien_fecha_ingreso_index` (`fecha_ingreso`),
  KEY `unidades_bien_area_id_ubicacion_id_index` (`area_id`,`ubicacion_id`),
  KEY `unidades_bien_numero_serie_index` (`numero_serie`),
  KEY `unidades_bien_bien_id_foreign` (`bien_id`),
  KEY `unidades_bien_responsable_dni_index` (`responsable_dni`),
  CONSTRAINT `unidades_bien_area_id_foreign` FOREIGN KEY (`area_id`) REFERENCES `areas` (`id`) ON DELETE SET NULL,
  CONSTRAINT `unidades_bien_bien_id_foreign` FOREIGN KEY (`bien_id`) REFERENCES `bienes` (`id`) ON DELETE RESTRICT,
  CONSTRAINT `unidades_bien_creado_por_foreign` FOREIGN KEY (`creado_por`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `unidades_bien_estado_conservacion_id_foreign` FOREIGN KEY (`estado_conservacion_id`) REFERENCES `estados_conservacion` (`id`),
  CONSTRAINT `unidades_bien_estado_operatividad_id_foreign` FOREIGN KEY (`estado_operatividad_id`) REFERENCES `estados_operatividad` (`id`) ON DELETE SET NULL,
  CONSTRAINT `unidades_bien_ubicacion_id_foreign` FOREIGN KEY (`ubicacion_id`) REFERENCES `ubicaciones` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=174 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `unidades_bien`
--

LOCK TABLES `unidades_bien` WRITE;
/*!40000 ALTER TABLE `unidades_bien` DISABLE KEYS */;
/*!40000 ALTER TABLE `unidades_bien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `role` enum('administrador','operador') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'operador',
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'Administrador','logisticainlcan@gmail.com','2026-07-24 11:20:58','$2y$12$NuQjXjDZlj/z8t8h5scZkeSq7gbSWxYhbNbSpWmuO57Zh17uIJ8cK',NULL,'2026-07-24 11:20:58','2026-07-24 11:20:58','administrador');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-24  6:26:59
